.preview-container___root {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-basis: 18wh;
  margin: 2rem;
}

.preview-container___versus-block {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  align-items: center;
  justify-content: center;
}

.preview-container___versus-img {
  height: 10vh;
}

.preview-container___fight-btn {
  padding: 0.5rem 1rem;
  justify-self: right;
  text-align: center;
  background: #ba0303;
  margin: 3rem 0;
  color: #f8f9f4;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0.4rem 0.4rem 0.5rem 0px rgba(0, 0, 0, 0.75);
}

.preview-container___fight-btn.disabled {
  opacity: 0;
}
